.table {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  border-spacing: 0px;
  border-collapse: collapse;
}
.table thead {
  background-color: #252424;
}
.table th,
.table td {
  border: 2px solid black;
  padding: 5px;
}
.table th {
  color: white;
  font-weight: 700;
}
.table tr:nth-child(2n) {
  background-color: gray;
}
.table td:first-child {
  text-transform: capitalize;
}
